* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #333; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
}

body.light-mode {
  background-color: #fff; /* Light mode background color */
  color: #000; /* Light mode text color */
}

header {
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 200px;
  border-radius: 3px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0.8;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a:hover {
  color: #d2ace5; /* Set your preferred hover color */
}

nav button {
  border-radius: 30px;
  padding: 5.8px 10px; /* Add padding for better visual appearance */
}

nav button i {
  font-size: 18px; /* Adjust the font size as needed */
  /* color: yellow; 
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); */
}

.menu-toggle {
  display: none; /* Hide by default on larger screens */
}

.welcome-banner {
  width: auto;
  height: 50vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 100%;
  height: 60vh; /* Adjust this value to your preference */
  z-index: -1;
}

.video-container video {
  max-width: 100vw;
  position: relative;
}

.content {
  position: absolute;
  z-index: 1;
  text-align: center;
  padding: 20px;
  color: #fff;
}

/* Add these styles to your existing CSS */

.fa-heart-pulse {
  color: inherit; /* Inherit the text color of the parent */
  transition: color 0.3s ease; /* Add a smooth transition for color change */
  cursor: pointer; /* Set cursor to pointer on hover */
}

.fa-heart-pulse:hover {
  color: purple; /* Change the color on hover */
}
/* Tooltip styles */
.fa-heart-pulse {
  position: relative; /* Set positioning context for the ::after pseudo-element */
}

.fa-heart-pulse::after {
  content: "Donate!";
  position: absolute;
  bottom: calc(100% + 3px); /* Position above the element with a 3px offset */
  left: 50%; /* Centered horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  padding: 8px;
  background-color: purple;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
  pointer-events: none; /* Allows clicks to pass through the tooltip */
}

.fa-heart-pulse:hover::after {
  opacity: 1; /* Show the tooltip on hover */
}

#backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  top: 23%;
  right: 3%;
  cursor: pointer;
  font-size: 36px;
  color: #fff;
  z-index: 2; /* Ensure the play button is above the video */
}

.play-button:hover {
  color: purple; /* Change the color on hover if desired */
}

.meet-me {
  /* max-height: 69vh; */
  overflow: hidden; /* Add overflow: hidden to hide any content exceeding the container height */
}

h2 {
  margin-left: 15px;
  max-width: 100%;
}

.verified-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single-image {
  padding: 3px;
  max-width: 30vw;
  margin: 35px 15px 0px 15px;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.single-image img {
  border-radius: 5px;
  padding: 3px;
  width: 100%;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.9); /* Adjust the values for your desired shadow */
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.single-image:hover img {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.9); /* Adjust the values for the hover shadow */
}

.single-image .caption {
  font-size: 11px;
  margin-top: 5px;
}

.certs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.certificate-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 14vh;
  margin: 10px;
}

.certificate-container {
  width: 47vw;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 12%;
}

.certificate-container img {
  width: auto;
  max-width: 24vw;
  height: auto; /* Set height to auto for proper scaling */
  margin: 10px;
  position: absolute;
  cursor: pointer;
  /* transition: transform 0.5s ease; */
  display: none;
  z-index: 1; /* Ensure the images are above the arrow buttons */
  border: 1.3px solid black;
  border-radius: 5px; /* Optional: Add rounded corners */
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.9); /* Adjust the values for your desired shadow */
}

.certificate-container img.hidden {
  display: none;
}


.arrow {
  cursor: pointer;
  font-size: 38px;
  z-index: 2;
  font-weight: bold;
}

.arrow:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.certs-caption-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 5px;
}

.certs-caption {
  font-size: 11px;
  width: 58%;
  margin-right: 15%;
  text-align: right;
}
/* Modal styles */

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 10%;
  top: 10%;
  width: 81%;
  height: 81%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
 
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 101;
}


#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 99; /* Set z-index below the modal */
}

.certificate-slider {
  display: flex;
  overflow: hidden;
  max-width: 90%;
  height: 90%;
  
  
}

.modal-content {
 display: flex;
 justify-content: center;
 align-items: center;
}

.certificate-item {
width: 100%;
object-fit: contain;
}

.modal .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 102;
}

.modal .arrow.left {
  left: 10px;
}

.modal .arrow.right {
  right: 10px;
}


@media screen and (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 93px; /* Adjust the distance from the top as needed */
    left: 0;
    width: 100%;
    background-color: #333;
  }

  nav ul.active {
    display: flex;
  }

  nav li {
    margin: 0;
    text-align: center;
    padding: 10px;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
  }

  .menu-toggle.active {
    transform: rotate(180deg);
  }

  h2 {
   width: 81%;
  }

  .arrow {
    cursor: pointer;
    font-size: 24px;
  }

  .certs-caption {
    width: 47%;
    margin-right: 11%;
  }
}
