* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Prompt";
  letter-spacing: 1.3px;
  font-weight: 500;
  background-color: #333;
  color: #fff;
}

body.light-mode {
  background-color: #fff;
  color: #000;
}

header {
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo img {
  width: 42vw;
  max-width: 200px;
  border-radius: 3px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0.8;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #d2ace5;
}

nav button {
  border-radius: 30px;
  padding: 5.8px 10px;
}

nav button i {
  font-size: 18px; /* Adjust the font size as needed */
  /* color: yellow; 
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); */
}

.menu-toggle {
  display: none;
}

.welcome-banner {
  width: auto;
  height: 69vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-container {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.video-container video {
  max-width: 100vw;
  position: relative;
}

.content {
  z-index: 1;
  position: absolute;
  text-align: center;
  line-height: 1.369;
  padding: 20px;
  color: #fff;
  font-size: 3vh;
}
.content h1 {
  font-weight: 500;
  font-size: 4.7vh;
  line-height: 1.81;
}

.fa-heart-pulse {
  color: inherit;
  transition: color 0.3s ease;
  cursor: pointer;
}

.fa-heart-pulse:hover {
  color: purple;
}

/* Tooltip styles */
.fa-heart-pulse {
  position: relative;
}

.fa-heart-pulse::after {
  content: "LOVE!";
  position: absolute;
  bottom: calc(100% + 3px);
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: purple;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.fa-heart-pulse:hover::after {
  opacity: 1;
}

#backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  top: 10px;
  right: 23px;
  cursor: pointer;
  font-size: 2.3vh;
  color: #fff;
  z-index: 2;
  font-size: 2vw;
}

.play-button:hover {
  color: purple;
}

.meet-me {
  overflow: hidden;
  padding-bottom: 3vh;
}

.meetme-tagline {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 1.3vh 2vw;
}

h2 {
  margin-left: 3%;
  max-width: 69%;
  line-height: 1.369;
  font-weight: 500;
  font-size: 16px;
}

#tocIcon {
  position: relative;
  margin: 5.3px 18px 10px 28px;
  padding: 3px;
  font-size: 14px;
}

#tocIcon::after {
  content: "TOC";
  position: absolute;
  top: calc(
    103% + 10px
  ); /* the tooltip will be positioned 150% of the height of the icon plus an additional 10 pixels below the icon */
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: purple;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

#tocIcon:hover::after {
  opacity: 1;
}

#tocIcon:hover {
  color: lavender;
  cursor: pointer;
}

.verified-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3.69% 1%;
  min-height: 9vh;
  width: 100%;
}

.diploma-section {
  padding: 3px;
  max-width: 30%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 10px 1vw 10px 3vw;
}

.diploma-wrapper {
  height: 81%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.diploma-wrapper img {
  border-radius: 10px;
  object-fit: contain;
  padding: 3px;
  width: 100%;
  height: auto;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.9);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.diploma-wrapper:hover img {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.9);
}

.certs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.certificate-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 8vw;
  height: 100%;
  max-width: 53%;
}

.cert-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.certificate-container {
  display: grid;
  direction: rtl;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  gap: 1%;
}

/* TOC STYLES */

.toc {
  margin-top: 0;
  border-radius: 10px;
}

.toc-content-wrapper {
  color: black;
  font-size: 0.5vw;
  padding: 10px 5px;
  border-radius: 10px;
  height: 127.25px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  align-content: center;
  direction: ltr;
  width: 100%;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #adc2ec white;
  /* Set the color of the scrollbar track and thumb in Firefox */
}

/* Style the scrollbar track */
.toc-content-wrapper::-webkit-scrollbar {
  width: 12px;
}

/* Style the scrollbar thumb (the draggable part) */
.toc-content-wrapper::-webkit-scrollbar-thumb {
  background-color: #b9d1ff;
  /* Set the color of the scrollbar thumb */
  border-radius: 6px;
  /* Adjust the border-radius to make it round */
}

.toc-content-wrapper:hover {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.9), 0 0 30px rgba(235, 195, 195, 0.5),
    0 0 30px rgba(193, 235, 193, 0.5), 0 0 30px rgba(170, 170, 227, 0.5);
}

.toc-headline {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: 0% 3% 5.5%;
  font-size: 1.2vw;
  text-align: center;
}

.toc-sections {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 3%;
  padding: 2px;
}

.toc-sections div {
  margin: 1.69px 0.5px;
  padding: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
  height: 23px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  font-size: 0.58vw;
  text-align: center;
}

.toc-sections div:hover {
  background-color: #ddd;
}

.certificate-item {
  position: relative;
  width: 180px !important;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.certificate-container img {
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.9);
  object-fit: contain;
}

.certificate-container img:hover {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.9), 0 0 30px rgba(235, 195, 195, 0.5),
    0 0 30px rgba(193, 235, 193, 0.5), 0 0 30px rgba(170, 170, 227, 0.5);
  transform: scale(1.1) translateY(-24%);
  transition: transform 0.5s ease-in-out;
}

.first-certificate {
  margin-right: 50%;
  margin-top: -20%;
}

.first-certificate certiicate-item:hover {
  transform: translateY(-24%);
}

.middle-certificate {
  align-items: center;
}

.middle-certificate certificate-item:hover {
  transform: translateY(-24%);
}

.last-certificate {
  margin-right: -50%;
  margin-top: 20%;
}

.last-certificate certificate-item:hover {
  transform: translateY(-24%);
}

.certificate-container img.hidden {
  display: none;
}

.arrow-wrapper-left {
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  margin-top: 20%;
  margin-left: 3%;
}

.arrow-wrapper-left .arrow {
  padding-right: 0px;
}

.arrow-wrapper-right {
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin-bottom: 20%;
  margin-right: 3%;
}
.arrow-wrapper-right .arrow {
  padding-left: 0px;
}

.arrow {
  cursor: pointer;
  font-size: 38px;
  font-weight: bold;
  color: PINK;
  padding: 5px;
  z-index: 2;
}

.arrow:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.captions-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px;
}

.diploma-caption {
  font-size: 1.1vh;
  width: 35%;
  margin-left: 2.3vw;
}

.certs-caption {
  font-size: 1.1vh;
  text-align: right;
  width: 50%;
}

/* MODAL STYLES */

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 10%;
  top: 10%;
  width: 81%;
  height: 53%;
  overflow: auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
}

.toc-modal {
  flex-flow: column nowrap;
  justify-content: space-around !important;
  color: rgba(0, 0, 0, 0.9);
}

.toc-modal-content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  color: black;
  font-size: 14px;
  padding: 10px 5px;
  border-radius: 10px;
  max-height: 96%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #c9fcff white;
  /* Set the color of the scrollbar track and thumb in Firefox */
}

/* Style the scrollbar track */
.toc-modal-content-wrapper::-webkit-scrollbar {
  width: 12px;
}

/* Style the scrollbar thumb (the draggable part) */
.toc-modal-content-wrapper::-webkit-scrollbar-thumb {
  background-color: #b6cdfc;
  /* Set the color of the scrollbar thumb */
  border-radius: 6px;
  /* Adjust the border-radius to make it round */
}

.toc-modal-headline {
  text-align: center;
  margin: 3% 10px;
}

.toc-modal-sections {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 3px;
}

.toc-modal-sections div {
  margin: 5px 3px;
  padding: 3px 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.toc-modal-sections div:hover {
  background-color: #ddd;
}

.modal-content-wrapper {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  margin: auto;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  object-fit: contain;
  max-width: 81%;
  max-height: 81%;
}

.close {
  position: absolute;
  top: 18px;
  right: 35px;
  color: RED;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 101;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.diploma-modal-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
}

.certificate-slider {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
}

.modal .arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: hotpink;
  cursor: pointer;
  padding: 10px;
}

.modal .arrow:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.modal .arrow.left {
  left: 8.1px;
}

.modal .arrow.right {
  right: 8.1px;
}

@media screen and ((max-width: 1100px)) {
  /* .toc {
    height: 124px !important;
  } */
}

@media screen and ((max-width: 911px)) {
  .certificate-item {
    width: 150px !important;
    height: 150px !important;
  }
  .toc-content-wrapper {
    height: 106.5px !important;
  }
}

@media screen and (max-width: 768px) {
  logo {
    margin-right: 1vw;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  nav ul.active {
    display: flex;
  }

  nav li {
    margin: 0;
    text-align: center;
    padding: 10px;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 2.3vh;
    margin: 0 3.3vw 0 2vw;
  }

  .menu-toggle.active {
    transform: rotate(180deg);
  }

  .play-button {
    font-size: 23px;
  }

  .certificate-item {
    width: 100px !important;
    height: 100px !important;
  }

  .toc-content-wrapper {
    height: 70.69px !important;
  }

  .arrow {
    font-size: 24px;
    padding: 3px;
  }

  .diploma-caption {
    margin-left: 2.3vw;
    width: 28%;
  }

  .certs-caption {
    margin-right: 3vw;
    width: 53%;
  }
}

@media screen and ((max-width: 611px)) {
  .certificate-item {
    width: 90px !important;
    height: 90px !important;
  }

  .toc-content-wrapper {
    height: 63.33px !important;
  }
}

@media screen and ((max-width: 480px)) {
  .certificate-item {
    width: 70px !important;
    height: 70px !important;
  }

  .toc-content-wrapper {
    height: 49.48px !important;
  }
}

@media screen and ((max-width: 369px)) {
  .certificate-item {
    width: 58px !important;
    height: 58px !important;
  }

  .toc-content-wrapper {
    height: 41px !important;
  }
}
